<!DOCTYPE html>
<html>
<head>
    <title>Robot Motor Controller</title>
    <script src="{{ url_for('static', filename='jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"/>
</head>
<body>

{# Container for Controls #}
<div class="container">
    <h2 class="display-2">Controls</h2>
    <br>

    {# Button Grid #}
    <div class="row">
        <div class="col-md-2 offset-md-5">
            <button type="button" value="forward" class="btn btn-primary button_control" id="button-forward">Forward</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 offset-md-3">
            <button type="button" value="left" class="btn btn-primary button_control" id="button-left">Turn Left</button>
        </div>
        <div class="col-md-2">
            <button type="button" value="stop" class="btn btn-danger button_control" id="button-stop">Stop</button>
        </div>
        <div class="col-md-2">
            <button type="button" value="right" class="btn btn-primary button_control" id="button-right">Turn Right</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 offset-md-5">
            <button type="button" value="backward" class="btn btn-primary button_control" id="button-backward">Backward</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 offset-md-3">
            <button type="button" value="shoot" class="btn btn-primary button_control" id="button-shoot">Shoot</button>
        </div>
    </div>

</div>

</body>
</html>